<div id="root">
  <!-- navbar -->
  <nav id="navbar" class="bg-green-900">
    <div class="w-[80%] m-auto flex lg:flex-row md:flex-row sm:flex-col justify-between items-center p-3">
      <h1 class="text-[25px] font-bold text-white cursor-pointer">
        Angular-HTTP-Services
      </h1>
      <div class="flex gap-6 text-orange-400 text-[20px]">
        <a href="#" class="hover:text-orange-500">Products</a>
        <a href="#" class="hover:text-orange-500">
          <i class="fa-solid fa-heart"></i>
        </a>
        <a href="#" class="hover:text-orange-500">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>
    </div>
  </nav>

  <!-- body -->
  <div id="body-container" class="min-h-screen">
    <router-outlet></router-outlet>
  </div>

  <!-- footer -->
  <footer
    id="footer"
    class="bg-slate-600 p-5 flex gap-3 justify-center items-center"
  >
    <i
      class="fa-brands fa-github text-[24px] cursor-pointer hover:text-orange-500"
    ></i>
    <span>shatrukumar47@gmail.com</span>
  </footer>
</div>
